<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <import resource="classpath:springmvc-resteasy.xml" />
        
    <context:annotation-config />
    <context:component-scan base-package="com.tenline.pinecone" />
        
    <tx:annotation-driven transaction-manager="transactionManager" />
        
    <bean id="transactionManager" class="org.springframework.orm.jdo.JdoTransactionManager">
    	<property name="persistenceManagerFactory" ref="persistenceManagerFactory"/>
    </bean> 
    	
    <bean id="persistenceManagerFactory" class="org.springframework.orm.jdo.LocalPersistenceManagerFactoryBean">
    	<property name="jdoPropertyMap">
    		<map>
        		<entry key="javax.jdo.PersistenceManagerFactoryClass" 
        			value="org.datanucleus.api.jdo.JDOPersistenceManagerFactory"/>        
      			<entry key="javax.jdo.option.NontransactionalRead" value="true"/>
        		<entry key="javax.jdo.option.NontransactionalWrite" value="true"/>
        		<entry key="javax.jdo.option.RetainValues" value="true"/>
        		<entry key="datanucleus.storeManagerType" value="rdbms"/>
    			<entry key="datanucleus.autoCreateSchema" value="true"/>
        		<entry key="datanucleus.connectionFactory" value-ref="dataSource"/>        			
        	</map>
		</property>
	</bean>    
        
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- <property name="url" value="jdbc:mysql://localhost:3306/pinecone" />
		<property name="username" value="root" />
		<property name="password" value="root" /> -->
		<property name="url" value="jdbc:cloudbees://pinecone" />
		<property name="username" value="pinecone" />
		<property name="password" value="pinecone" />
	</bean>
        
</beans>
