<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    
  <!-- Store Remote Service -->
  <servlet>
  	<servlet-name>ApplicationService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.ApplicationServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/store/application/service</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>ConsumerService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.ConsumerServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ConsumerService</servlet-name>
  	<url-pattern>/store/consumer/service</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>FriendService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.FriendServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>FriendService</servlet-name>
  	<url-pattern>/store/friend/service</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MailService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.MailServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>MailService</servlet-name>
  	<url-pattern>/store/mail/service</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.UserServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>UserService</servlet-name>
  	<url-pattern>/store/user/service</url-pattern>
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Store.html</welcome-file>
  </welcome-file-list>

</web-app>
