<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    
  <!-- Store Remote Service -->
  <servlet>
  	<servlet-name>ModelService</servlet-name>
  	<servlet-class>com.tenline.pinecone.platform.web.store.server.ModelServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ModelService</servlet-name>
  	<url-pattern>/store/model/service</url-pattern>
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Store.html</welcome-file>
  </welcome-file-list>

</web-app>
