<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<servlet>
		<servlet-name>PineconeService</servlet-name>
		<servlet-class>com.tenline.pinecone.platform.web.store.server.PineconeServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PineconeService</servlet-name>
		<url-pattern>/Store/PineconeService</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Store.html</welcome-file>
	</welcome-file-list>
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	
</web-app>
