.site-heading {
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 64px;
	line-height: 64px;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	color:white!important;
}

.site-heading-background{
	min-height: 100%;
    background: #C07B3A url('../img/bg.png') 50% 70% no-repeat;
	-webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
	background-size: cover;
	border-bottom: 5px solid #98B709;
}

.center-text{
	text-align:center;
}

.description {
	margin-bottom: 20px!important;
	color:white!important;
}

.site-heading-button{
	margin-right: 40px;
	color:white!important;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
	text-align:center;
}

.site-content{
	padding-top:80px;
	margin-left: 0px;
	margin-right: 0px;
}

.site-heading-footer {
	padding: 15px 0;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

.site-content-no-padding{
	margin-left: 0px;
	margin-right: 0px;
}
.box_frame{
	padding: 5px;
	background: #fff;
	border: solid 1px #cdcdcd;
	text-align: left;
}

.info{
	padding: 5px 2px;
	font-size: 14px;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -61px;
	padding: 0 0 60px;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

html,body{
	height:100%;
}

.login-panel{
	margin-left:80px;
	margin-right:80px;
}

.input-group-margin{
	margin-bottom:15px;
}

.bottom-gap-50{
	margin-bottom:50px;
}

.bottom-gap-20{
	margin-bottom:20px;
}

label.error {
	font-weight: normal;
	color: rgb(153, 5, 5);
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 38px;
	width: 38px;
	background: url("../img/top.png") no-repeat;
}
	
