<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
  	<servlet-name>ApplicationService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.ApplicationServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ApplicationService</servlet-name>
  	<url-pattern>/moneytree/application/service</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>ConsumerService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.ConsumerServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ConsumerService</servlet-name>
  	<url-pattern>/moneytree/consumer/service</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>ExchangeService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.ExchangeServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>ExchangeService</servlet-name>
  	<url-pattern>/moneytree/exchange/service</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>RenRenService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.RenRenServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>RenRenService</servlet-name>
  	<url-pattern>/moneytree/renren/service</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TransactionService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.TransactionServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>TransactionService</servlet-name>
  	<url-pattern>/moneytree/transaction/service</url-pattern>
  </servlet-mapping>  
  
  <servlet>
  	<servlet-name>UserService</servlet-name>
  	<servlet-class>com.tenline.game.simulation.moneytree.server.UserServiceImpl</servlet-class>
  </servlet>
        
  <servlet-mapping>
  	<servlet-name>UserService</servlet-name>
  	<url-pattern>/moneytree/user/service</url-pattern>
  </servlet-mapping>  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MoneyTree.html</welcome-file>
  </welcome-file-list>

</web-app>
