/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	color: Black;
	margin: 5px 0px;
	font-size: 3em;
	font-weight: bold;
	text-align: left;
}


.setButton {
	display: block;
	font-size: 16pt;
}

.txtLabel {
	color: White;
	font-stretch: expanded;
	font-variant: normal;
	font-size: 18px;
	font-style: normal;
	font-family: @Î¢ÈíÑÅºÚ, serif;
	font-weight: bold;
}
.leftPanel {
	margin-right: auto;
	border-right: medium dotted tomato;
}

.textBox {
	border: thin solid;
	font-stretch: expanded;
	font-variant: normal;
	font-size: 18px;
	font-style: normal;
	font-family: @Î¢ÈíÑÅºÚ, serif;
	font-weight: bold;
}
.cameraFrame {
	border: medium double;
}
.statusPopupLabel {
	color: Black;
}
.menuButton {
    display: block;
	font-size: 16pt;
}
.mainFrame-margin-1 {
	border: thin solid Black;
}
.portraitLabel {
	color: Black;
	font-size: 18px;
	font-style: normal;
	font-family: cursive;
	font-weight: 100;
}
.mainFrame-margin-2 {
	border: thin groove Gray;
}

/** Most GWT widgets already have a style name defined */
/** Set ids using widget.getElement().setId("idOfElement") */
